@import 'compiler/colors_fonts';
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}
body{
    width: 100%;
    display: flex;
    position: relative;
    background: $White;
}
img,svg{
    display: block;
    width: 100%;
}
.container{
    position:relative;
    max-width: 85%;
}
#btn_UP{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2.5vw;
    right: 0;
    z-index:998;
    background-color: $Black;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    i{
        color: $White;
        font-size: 2vw;
        padding: 1vw 1vw 1vw 1.3vw;
    }
}
@import 'compiler/menu';