@font-face {
  font-family: "Alex_Letter";
  src: url(../fonts/Alexander_Lettering.ttf);
}

/*font-family: "Alexander Lettering"*/
/*Base Colors*/
/*Base Colors*/
/*Light n Shadows*/
/*Light n Shadows*/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #D0D8CE;
  height: 1180vh;
}

img, svg {
  display: block;
  width: 100%;
}

.container {
  position: relative;
  max-width: 85%;
}

#btn_UP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 2.5vw;
  right: 0;
  z-index: 998;
  background-color: #171A18;
  border-top-left-radius: 1.5vw;
  border-bottom-left-radius: 1.5vw;
}

#btn_UP i {
  color: #F9F3F2;
  font-size: 1.7vw;
  padding: 1vw 1vw 1vw 1.3vw;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.head .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.head .navbar .nav_contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  background: #51403F;
}

.head .navbar .nav_contato img {
  position: absolute;
  top: 0;
}

.head .navbar .nav_contato .cont_contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.head .navbar .nav_contato .cont_contato .nav_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F9F3F2;
  font-size: 1vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 0.25vw 0;
}

.head .navbar .nav_contato .cont_contato .nav_email i {
  font-size: 1.3vw;
  padding: 0.5vw;
}

.head .navbar .nav_contato .cont_contato .nav_redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.head .navbar .nav_contato .cont_contato .nav_redes i {
  font-size: 1.3vw;
  color: #F9F3F2;
  padding: 0 0.4vw;
}

.head .navbar .nav_contato .cont_contato .nav_redes i:hover {
  color: #94A89D;
}

.head .navbar .nav_menu {
  width: 100%;
  background: #F9F3F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .navbar .nav_menu .cont_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .navbar .nav_menu .cont_menu img {
  width: 42%;
  margin-left: 1vw;
  padding: 0.5vw;
}

.head .navbar .nav_menu .cont_menu .menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
  list-style: none;
  margin: 0 0.8vw 0 auto;
}

.head .navbar .nav_menu .cont_menu .menu_box li {
  margin: 0.5vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
}

.head .navbar .nav_menu .cont_menu .menu_box li a {
  padding: 0.5vw;
  color: #51403F;
  text-decoration: none;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-menu ul li {
  font-family: "Next-Heavy";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav-menu ul .BTmenu {
  margin: 0px 5px;
  padding: 10px 15px;
  font-size: 1.1em;
  -webkit-transition: .6s;
  transition: .6s;
  text-decoration: none;
}

.nav-menu ul .BTmenu.actived {
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */