@import 'compiler/colors_fonts';
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}
body{
    width: 100%;
    display: flex;
    position: relative;
    background: $White;
    flex-wrap: wrap;
}
img,svg{
    display: block;
    width: 100%;
}
.container{
    position:relative;
    max-width: 85%;
}
.title{
    display: flex;
    position: relative;
    justify-content: center;
    width: 23%;
    img{
        position: absolute;
        z-index: -1;
    }
    h2{
        font-family:"Alex_Letter";
        font-size: 5.5vw;
        -webkit-text-stroke: 0.6px $Brown;
        color: $Brown;
        margin-left: 1.3vw;
    }
}
.botao{
    display: flex;
    position: relative;
    font-family: 'Raleway';
    button, input{
        font-size: 1.1vw;
        font-weight: 700;
        color: $Brown;
        background-color: $Pink;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 1vw;
        padding: 0.5vw 1vw;
        border: none;
        transition: 0.3s ease;
        &:hover{
            transform: translateY(-8px);
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
        }
    }
}
#btn_UP{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2.5vw;
    right: -0.1vw;
    z-index:998;
    background-color: $Brown;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    border: 1px $White solid;
    i{
        color: $White;
        font-size: 1.7vw;
        padding: 1vw 1vw 1vw 1.3vw;
    }
}
::-webkit-scrollbar-track{background-color:$Green_T;}
::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-thumb{background:$Green;}
@import 'compiler/menu';
@import 'compiler/banner';
@import 'compiler/servicos';
@import 'compiler/sobre';
@import 'compiler/blog';
@import 'compiler/contato';
@import 'compiler/newsletter';
@import 'compiler/rodape';

@import 'compiler/Blog_PAGE';
@import 'compiler/Eulenir_PAGE';
@import 'compiler/EBook_PAGE';
@import 'compiler/Service_PAGE';


/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){	
}
/* Small Device = 320px */
@media only screen and (max-width: 479px){
}