@font-face {
  font-family: "Alex_Letter";
  src: url(../fonts/Alexander_Lettering.otf);
}

/*font-family: "Alexander Lettering"*/
/*Base Colors*/
/*Base Colors*/
/*Light n Shadows*/
/*Light n Shadows*/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #F9F3F2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

img, svg {
  display: block;
  width: 100%;
}

.container {
  position: relative;
  max-width: 85%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 23%;
}

.title img {
  position: absolute;
  z-index: -1;
}

.title h2 {
  font-family: "Alex_Letter";
  font-size: 5.5vw;
  -webkit-text-stroke: 0.6px #51403F;
  color: #51403F;
  margin-left: 1.3vw;
}

.botao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: 'Raleway';
}

.botao button {
  font-size: 1.1vw;
  font-weight: 700;
  color: #51403F;
  background-color: #DDB8B1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  padding: 0.5vw 1vw;
  border: none;
}

#btn_UP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 2.5vw;
  right: 0;
  z-index: 998;
  background-color: #51403F;
  border-top-left-radius: 1.5vw;
  border-bottom-left-radius: 1.5vw;
}

#btn_UP i {
  color: #F9F3F2;
  font-size: 1.7vw;
  padding: 1vw 1vw 1vw 1.3vw;
}

::-webkit-scrollbar-track {
  background-color: #D0D8CE;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #94A89D;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.head .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.head .navbar .nav_contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  background: #51403F;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.head .navbar .nav_contato img {
  position: absolute;
  top: 0;
}

.head .navbar .nav_contato .cont_contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.head .navbar .nav_contato .cont_contato .nav_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F9F3F2;
  font-size: 1vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 0.25vw 0;
}

.head .navbar .nav_contato .cont_contato .nav_email i {
  font-size: 1.3vw;
  padding: 0.5vw;
}

.head .navbar .nav_contato .cont_contato .nav_redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.head .navbar .nav_contato .cont_contato .nav_redes i {
  font-size: 1.3vw;
  color: #F9F3F2;
  padding: 0 0.4vw;
}

.head .navbar .nav_contato .cont_contato .nav_redes i:hover {
  color: #94A89D;
}

.head .navbar .nav_contato.actived {
  margin-top: -5vw;
}

.head .navbar .nav_menu {
  width: 100%;
  background: #F9F3F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}

.head .navbar .nav_menu .cont_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .navbar .nav_menu .cont_menu #logo {
  width: 42%;
  margin-left: 1vw;
  padding: 0.5vw;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.head .navbar .nav_menu .cont_menu #logo.actived {
  margin-left: -1vw;
  width: 35%;
  padding: 0.2vw;
}

.head .navbar .nav_menu .cont_menu .menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
  list-style: none;
  margin: 0 0.8vw 0 auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.head .navbar .nav_menu .cont_menu .menu_box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0.5vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.head .navbar .nav_menu .cont_menu .menu_box li a {
  padding: 0.5vw;
  color: #51403F;
  text-decoration: none;
}

.head .navbar .nav_menu .cont_menu .menu_box li ::after {
  display: block;
  content: '';
  width: 80%;
  height: 0;
  background-color: #51403F;
  position: absolute;
  bottom: -1.5vw;
  left: 10%;
  border-radius: 2vw;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.head .navbar .nav_menu .cont_menu .menu_box li:hover a {
  color: #171A18;
}

.head .navbar .nav_menu .cont_menu .menu_box li:hover ::after {
  height: 0.35vw;
  bottom: -0.8vw;
}

.head .navbar .nav_menu .cont_menu .menu_box.actived {
  margin-right: -1vw;
}

#banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 9.7vw;
  margin-bottom: 7.7vw;
}

#banner #ImgBanner {
  width: 55%;
}

#banner .Block {
  background-color: #94A89D;
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F9F3F2;
  text-align: center;
  font-family: 'Raleway';
}

#banner .Block img {
  position: absolute;
  height: 100%;
  left: -26.6vw;
  width: 60%;
}

#banner .Block h3 {
  font-size: 3.8vw;
  text-transform: uppercase;
  font-weight: 800;
  margin-right: 6vw;
}

#banner .Block p {
  width: 60%;
  font-size: 1.4vw;
  line-height: 1.7vw;
  margin: 1vw 6vw 3vw 0;
}

#banner .Block h1 {
  margin-right: 6vw;
  font-weight: 700;
  font-size: 1.6vw;
}

#servicos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 75vh;
  margin-bottom: 5vw;
}

#servicos #img_serv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#servicos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#servicos .container p {
  color: #171A18;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1.35vw;
  margin: 1vw;
}

#servicos .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin-top: 4.5vw;
}

#servicos .container .cards a {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
}

#servicos .container .cards a .Card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#servicos .container .cards a .Card img {
  width: 58%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

#servicos .container .cards a .Card h3 {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 1.3vw;
  color: #51403F;
  margin-top: 3vw;
  padding: 0 1vw;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

#servicos .container .cards a :hover img {
  margin-top: -0.5vw;
}

#servicos .container .cards a :hover h3 {
  margin-top: 4vw;
}

#servicos .container .cards :nth-child(2) .Card img {
  width: 55%;
}

#servicos .container .cards :nth-child(2) .Card h3 {
  margin-top: 2.8vw;
}

#servicos .container .cards :nth-child(2) :hover img {
  margin-top: -0.5vw;
}

#servicos .container .cards :nth-child(2) :hover h3 {
  margin-top: 3.8vw;
}

#servicos .container .cards :nth-child(3) .Card {
  margin-top: -0.8vw;
}

#servicos .container .cards :nth-child(3) .Card img {
  width: 53%;
}

#servicos .container .cards :nth-child(3) .Card h3 {
  margin-top: 2.8vw;
}

#servicos .container .cards :nth-child(3) :hover img {
  margin-top: -0.5vw;
}

#servicos .container .cards :nth-child(3) :hover h3 {
  margin-top: 3.8vw;
}

#sobre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100vw;
}

#sobre .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sobre .container .sobre_block {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sobre .container .sobre_block::before {
  position: absolute;
  content: '';
  width: 90%;
  height: 8vh;
  background: #DDB8B1;
  top: 1vw;
  left: -20vw;
  border-radius: 3vw;
}

#sobre .container .sobre_block h2 {
  font-family: 'Alex_Letter';
  font-size: 4vw;
  z-index: 2;
  color: #51403F;
  -webkit-text-stroke: 0.5px #51403F;
  padding-top: 1.3vw;
}

#sobre .container .sobre_block .Sobre_txt {
  width: 75%;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.2vw;
  margin: 3vw 0 0 4vw;
}

#sobre .container .sobre_block .Sobre_txt p {
  position: relative;
}

#sobre .container .sobre_block .Sobre_txt p::before {
  position: absolute;
  content: '';
  width: 0.7vw;
  height: 0.7vw;
  background-color: #DDB8B1;
  top: 0.4vw;
  left: -1.5vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#sobre .container .sobre_block .sobreBT {
  margin: 4vw 7vw 1vw auto;
}

#sobre .container img {
  margin: 2.5vw 0;
  width: 23%;
  border-radius: 2vw;
}

/* Medium Device = 1200px */
/* Tablet Device = 768px */
/* Wide Mobile = 480px */
/* Small Device = 320px */
/*# sourceMappingURL=style.css.map */