.head{
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    .navbar{
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        .nav_contato{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;
            background: $Brown;
            transition: 0.6s;
            img{
                position: absolute;
                top: 0;
            }
            .cont_contato{
                display: flex;
                position: relative;
                .nav_email{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $White;
                    font-size: 1vw;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    padding: 0.25vw 0;
                    i{
                        font-size: 1.3vw;
                        padding: 0.5vw;
                    }
                }
                .nav_redes{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    i{
                        font-size: 1.3vw;
                        color: $White;
                        padding: 0 0.4vw;
                        &:hover{
                            color: $Green;
                        }
                    }
                }
            }
        }
        .nav_contato.actived{
            margin-top: -5vw;
        }
        .nav_menu{
            width: 100%;
            background: $White;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
            .cont_menu{
                display: flex;
                position: relative;
                align-items: center;
                #logo{
                    width: 42%;
                    margin-left: 1vw;
                    padding: 0.5vw;
                    transition: 0.6s;
                }
                #logo.actived{
                    margin-left: -1vw;
                    width: 35%;
                    padding: 0vw;
                }
                .menu_box{
                    display: flex;
                    position: relative;
                    text-decoration: none;
                    list-style: none;
                    margin: 0 0.8vw 0 auto;
                    transition: 0.6s;
                    li{
                        margin: 0.5vw;
                        font-family: 'Raleway', sans-serif;
                        font-weight: 700;
                        font-size: 1.1vw;
                        a{
                            padding: 0.5vw;
                            color: $Brown;
                            text-decoration: none;
                        }

                    }
                }
                .menu_box.actived{
                    margin-right: -1vw;
                }
            }
        }
    }
}